/*
!app
!docker
!hermione

docker/mysql/data/
app/wp-content/*
app/*.php
app/*.txt
app/*.html
app/wp-includes
app/wp-admin
app/node_modules/
app/wp-content/plugins/*
app/wp-content/themes/*

!app/wp-content/mu-plugins/
!app/wp-content/plugins/
!app/wp-content/themes/
!app/wp-content/plugins/advanced-custom-fields-pro/
!app/wp-content/themes/smart/

hermione/*
!hermione/tests/
!hermione/.hermione.conf.js
!hermione/package.json
!hermione/package-lock.json

ehthumbs.db
Thumbs.db
*.sublime-project
*.sublime-workspace
*.komodoproject
.idea/
*.log
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
app/.htaccess
!.gitignore
!.editorconfig
!.phpcs.xml.dist
!README.md
!CHANGELOG.md
!app/composer.json
!app/composer.lock
!.env.example
!.env.testing
!docker-compose.yml
!docker-compose-mac.yml
!starterkit.tests.hosts
!codeception.dist.yml
!android-chrome-*.png
!apple-touch-icon*.png
!browserconfig.xml
!favicon*.png
!favicon*.ico
!manifest.json
!mstile-*.png
!safari-pinned-tab.svg
!site.webmanifest