.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-about-form {
  width: 1440px;
  height: 392px;
}
.icon-arrow {
  width: 36px;
  height: 28px;
}
.icon-benefits-form {
  width: 1440px;
  height: 196px;
}
.icon-features-form {
  width: 1440px;
  height: 379px;
}
.icon-hero-form {
  width: 1440px;
  height: 342px;
}
.icon-ic-attach {
  width: 20px;
  height: 22px;
}
.icon-ic-back-btn {
  width: 8px;
  height: 14px;
}
.icon-ic-blocks {
  width: 44px;
  height: 41px;
}
.icon-ic-doubleArrow {
  width: 57px;
  height: 14px;
}
.icon-ic-drop {
  width: 7px;
  height: 6px;
}
.icon-ic-email {
  width: 21px;
  height: 15px;
}
.icon-ic-es-logo {
  width: 185px;
  height: 20px;
}
.icon-ic-fax {
  width: 20px;
  height: 20px;
}
.icon-ic-fingerprint {
  width: 44px;
  height: 48px;
}
.icon-ic-list {
  width: 40px;
  height: 34px;
}
.icon-ic-location {
  width: 31px;
  height: 39px;
}
.icon-ic-lock {
  width: 33px;
  height: 38px;
}
.icon-ic-logo {
  width: 23px;
  height: 32px;
}
.icon-ic-menu-close {
  width: 26px;
  height: 26px;
}
.icon-ic-menu-open {
  width: 30px;
  height: 22px;
}
.icon-ic-mobile {
  width: 14px;
  height: 22px;
}
.icon-ic-phone {
  width: 21px;
  height: 21px;
}
.icon-ic-photo {
  width: 38px;
  height: 33px;
}
.icon-ic-pin {
  width: 41px;
  height: 19px;
}
.icon-ic-pin-arrow {
  width: 57px;
  height: 51px;
}
.icon-ic-telephone {
  width: 37px;
  height: 39px;
}
.icon-message {
  width: 32px;
  height: 26px;
}
