<section class="s-gallery js-gallery-check">
    <div class="s-gallery__container">
        <div class="s-gallery__left">
            <div class="swiper s-gallery__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="images/slideg1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="s-gallery__right">
            <div class="s-gallery__head">
                <h1 class="el-title s-gallery__title">Mitchel</h1>
                <div class="el-wysiwyg s-gallery__wysiwyg" style="max-width: 626px">
                    {#                    <p><b>Estimated DOB:</b> ~2021</p> #}
                    {#                    <p><b>Breed:</b> Boxer Mix</p> #}
                    {#                    <p><b>Gender:</b> Male</p> #}
                    {#                    <p><b>Size:</b> Medium, ~45lbs</p> #}
                    {#                    <p><b>Activity Level:</b> Medium</p> #}
                    <p>
                        Lucky little Jasper has found his furever home A huge thank you to Leslie and Jethro for opening
                        your home and hearts to this sweet boy.
                        Lorem ipsum dolor sit amet consectetur. Sollicitudin diam ultricies massa iaculis faucibus
                        mauris. Ut viverra nullam ut nibh nibh. Iaculis vitae odio pellentesque non dignissim. Nunc id
                        tincidunt tincidunt mauris non erat tortor sed. Lorem ipsum dolor sit amet consectetur.
                        Sollicitudin diam ultricies massa iaculis faucibus mauris. Ut viverra nullam ut nibh nibh.
                        Iaculis vitae odio pellentesque non dignissim. Nunc id tincidunt tincidunt mauris non erat
                        tortor sed.
                    </p>
                </div>
            </div>
            <div class="s-gallery__btns">
                {#                conditions #}
                <div class="s-gallery__share" style="margin-bottom: 0">
                    <a href="#" class="s-gallery__share-btn btn-border--red btn-border--share">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="27" viewBox="0 0 28 27" fill="none">
                            <path d="M16.475 3.23438C15.095 3.23438 13.7716 3.78256 12.7958 4.75833C11.8201 5.73411 11.2719 7.05755 11.2719 8.4375V11.3344H8.4875C8.348 11.3344 8.23438 11.4469 8.23438 11.5875V15.4125C8.23438 15.552 8.34687 15.6656 8.4875 15.6656H11.2719V23.5125C11.2719 23.652 11.3844 23.7656 11.525 23.7656H15.35C15.4895 23.7656 15.6031 23.6531 15.6031 23.5125V15.6656H18.4122C18.5281 15.6656 18.6294 15.5869 18.6575 15.4744L19.6137 11.6494C19.6232 11.6121 19.6239 11.5731 19.616 11.5354C19.6081 11.4977 19.5917 11.4624 19.568 11.432C19.5444 11.4016 19.5141 11.377 19.4795 11.3601C19.445 11.3432 19.407 11.3344 19.3685 11.3344H15.6031V8.4375C15.6031 8.323 15.6257 8.20963 15.6695 8.10385C15.7133 7.99807 15.7775 7.90195 15.8585 7.82099C15.9395 7.74003 16.0356 7.67581 16.1413 7.63199C16.2471 7.58818 16.3605 7.56562 16.475 7.56562H19.4C19.5395 7.56562 19.6531 7.45312 19.6531 7.3125V3.4875C19.6531 3.348 19.5406 3.23438 19.4 3.23438H16.475Z"
                                  fill="#DC2D2A"/>
                        </svg>
                        Share
                    </a>
                    <a href="#" class="s-gallery__share-btn btn-border--red btn-border--share">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" viewBox="0 0 25 20" fill="none">
                            <path d="M24.2694 2.75C23.4031 3.14375 22.4694 3.4025 21.5019 3.52625C22.4919 2.93 23.2569 1.985 23.6169 0.84875C22.6831 1.41125 21.6481 1.805 20.5569 2.03C19.6681 1.0625 18.4194 0.5 17.0019 0.5C14.3581 0.5 12.1981 2.66 12.1981 5.32625C12.1981 5.70875 12.2431 6.08 12.3219 6.42875C8.31688 6.22625 4.75063 4.3025 2.37688 1.38875C1.96063 2.0975 1.72438 2.93 1.72438 3.8075C1.72438 5.48375 2.56813 6.96875 3.87313 7.8125C3.07437 7.8125 2.33188 7.5875 1.67938 7.25V7.28375C1.67938 9.62375 3.34438 11.5813 5.54938 12.02C4.84144 12.2137 4.09823 12.2407 3.37813 12.0988C3.68368 13.0578 4.2821 13.897 5.08927 14.4983C5.89643 15.0996 6.87175 15.4329 7.87812 15.4513C6.17221 16.8017 4.05762 17.5317 1.88188 17.5212C1.49937 17.5212 1.11687 17.4987 0.734375 17.4538C2.87188 18.8263 5.41437 19.625 8.13688 19.625C17.0019 19.625 21.8731 12.2675 21.8731 5.88875C21.8731 5.675 21.8731 5.4725 21.8619 5.25875C22.8069 4.58375 23.6169 3.72875 24.2694 2.75Z"
                                  fill="#DC2D2A"/>
                        </svg>
                        Tweet
                    </a>
                </div>
                {#                conditions #}
                {#                <div class="s-gallery__sup"> #}
                {#                    <a href="#" class="s-gallery__sup-btn btn btn-brand">Support care with monthly <br> donation</a> #}
                {#                    <a href="#" class="s-gallery__sup-btn s-gallery__sup-btn--call btn btn-border--red"> #}
                {#                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none"> #}
                {#                            <path d="M1.55625 20.625C1.36875 20.625 1.17188 20.6201 0.965625 20.6104C0.759375 20.6006 0.5625 20.5868 0.375 20.5688V13.9875L6 12.8625L9.2625 16.125C10.6875 15.2625 11.9955 14.2406 13.1865 13.0594C14.3775 11.8781 15.3664 10.6125 16.1531 9.2625L12.9469 6.02812L13.9875 0.375H20.5688C20.6063 0.5625 20.625 0.759375 20.625 0.965625V1.55625C20.625 3.975 20.0861 6.333 19.0084 8.63025C17.9306 10.9275 16.5056 12.9664 14.7334 14.7469C12.9611 16.5281 10.9268 17.9531 8.63025 19.0219C6.33375 20.0906 3.97575 20.625 1.55625 20.625Z" #}
                {#                                  fill="#DC2D2A"/> #}
                {#                        </svg> #}
                {#                        Adoption</a> #}
                {#                </div> #}
            </div>
        </div>
    </div>
    {#    conditions #}
    <div class="s-gallery__photos">
        <div class="s-gallery__container">
            <h2 class="s-gallery__photos-title el-subtitle">Happy family photos</h2>
            <div class="s-gallery__photos-wrapper">
                <img src="images/his1.jpg" alt="">
                <img src="images/his2.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="s-gallery__pagination">
        <div class="s-gallery__container">
            <a href="#" class="s-gallery__pagination-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <path d="M12.6367 15.825C12.8242 15.6375 12.918 15.4155 12.918 15.159C12.918 14.9025 12.8242 14.6808 12.6367 14.4938L7.14297 9L12.6555 3.4875C12.8305 3.3125 12.918 3.09375 12.918 2.83125C12.918 2.56875 12.8242 2.34375 12.6367 2.15625C12.4492 1.96875 12.2272 1.875 11.9707 1.875C11.7142 1.875 11.4925 1.96875 11.3055 2.15625L5.00547 8.475C4.93047 8.55 4.87722 8.63125 4.84572 8.71875C4.81422 8.80625 4.79872 8.9 4.79922 9C4.79922 9.1 4.81497 9.19375 4.84647 9.28125C4.87797 9.36875 4.93097 9.45 5.00547 9.525L11.3242 15.8438C11.4992 16.0188 11.715 16.1063 11.9715 16.1063C12.228 16.1063 12.4497 16.0125 12.6367 15.825Z"
                          fill="#636373"/>
                </svg>
                Previous Dog</a>
            <a href="#" class="s-gallery__pagination-link">All Dogs</a>
            <a href="#" class="s-gallery__pagination-link">Next Dog
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <path d="M5.36328 15.825C5.17578 15.6375 5.08203 15.4155 5.08203 15.159C5.08203 14.9025 5.17578 14.6808 5.36328 14.4938L10.857 9L5.34453 3.4875C5.16953 3.3125 5.08203 3.09375 5.08203 2.83125C5.08203 2.56875 5.17578 2.34375 5.36328 2.15625C5.55078 1.96875 5.77278 1.875 6.02928 1.875C6.28578 1.875 6.50753 1.96875 6.69453 2.15625L12.9945 8.475C13.0695 8.55 13.1228 8.63125 13.1543 8.71875C13.1858 8.80625 13.2013 8.9 13.2008 9C13.2008 9.1 13.185 9.19375 13.1535 9.28125C13.122 9.36875 13.069 9.45 12.9945 9.525L6.67578 15.8438C6.50078 16.0188 6.28503 16.1063 6.02853 16.1063C5.77203 16.1063 5.55028 16.0125 5.36328 15.825Z"
                          fill="#636373"/>
                </svg>
            </a>
        </div>

    </div>

</section>