<section class="s-hero-banner">
    <div class="s-hero-banner__container">
        <div class="s-hero-banner__hero">
            <img src="images/hero-banner.jpg" alt="">
            <div class="s-hero-banner__table">
                <h1 class="s-hero-banner__title el-title">Help the sanctuary</h1>
                <p class="s-hero-banner__desc">Homeless cats and dogs in Palawan, Philippines are always in need of help
                    - animal feed, medicine, ammunition, transportation, financial assistance, and volunteers.</p>
            </div>
        </div>
        <h2 class="s-hero-banner__label el-subtitle">How can you help animals?</h2>
        <ul class="s-hero-banner__list">
            <li class="s-hero-banner__item">
                <img src="images/c1.jpg" alt="">
                <div class="s-hero-banner__item-content">
                    <h3 class="s-hero-banner__item-label el-subtitle">PR:</h3>
                    <div class="s-hero-banner__item-desc">
                        <p> You can help us with the dissemination of information about the
                            sanctuary / animals and this site
                            on the Internet, in the press, print and paste posters in the center, place an ad on your
                            page
                            or in a group on social networks, on a thematic forum, etc.</p>
                        <p> We really need any informational support - the more people learn about what wonderful pets
                            are
                            waiting for them in the sanctuary, the more dogs and cats will become happy.</p>
                    </div>


                    <a href="#" class="s-hero-banner__btn btn btn-border--red">call us
                        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                            <path d="M4.55625 23.625C4.36875 23.625 4.17188 23.6201 3.96563 23.6104C3.75938 23.6006 3.5625 23.5868 3.375 23.5688V16.9875L9 15.8625L12.2625 19.125C13.6875 18.2625 14.9955 17.2406 16.1865 16.0594C17.3775 14.8781 18.3664 13.6125 19.1531 12.2625L15.9469 9.02812L16.9875 3.375H23.5688C23.6063 3.5625 23.625 3.75938 23.625 3.96563V4.55625C23.625 6.975 23.0861 9.333 22.0084 11.6302C20.9306 13.9275 19.5056 15.9664 17.7334 17.7469C15.9611 19.5281 13.9268 20.9531 11.6302 22.0219C9.33375 23.0906 6.97575 23.625 4.55625 23.625Z"
                                  fill="#DC2D2A"/>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="s-hero-banner__item">
                <img src="images/c2.jpg" alt="">
                <div class="s-hero-banner__item-content">
                    <h3 class="s-hero-banner__item-label el-subtitle">financially:</h3>
                    <div class="s-hero-banner__item-desc">
                        <p>At Street Dog Sanctuary, we rely heavily on donations to
                            maintain our operations and help new animals get to the sanctuary. Every month, we spend
                            $5000USD and growing on food alone. Every month, our medical costs range from $1500-$2500,
                            depending on the dogs we rescue and maintaining our current medical at the sanctuary.
                            Therefore, we will be grateful for any financial assistance.</p></div>
                    <a href="#" class="s-hero-banner__btn btn btn-brand">Donate
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <path d="M5.86927 16.5007L4.58594 15.2173L13.3859 6.41732H5.5026V4.58398H16.5026V15.584H14.6693V7.70065L5.86927 16.5007Z"
                                  fill="white"/>
                        </svg>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>