<section class="s-hero-text">
    <div class="s-hero-text__container">
        <div class="s-hero-text__head">
            <h1 class="s-hero-text__title el-title">The history of the founders of the sanctuary</h1>
            <div class="s-hero-text__label">
                <p class="s-hero-text__desc">Sanctuary founders</p>
                <h3 class="s-hero-text__subtitle el-subtitle">Jacq abd rob</h3>
            </div>
        </div>
        <div class="s-hero-text__content">
            <img src="images/about.jpg" alt="">
            <div class="s-hero-text__text el-wysiwyg">
                <p>
                    Rob is from New Zealand and immigrated to Canada, where he spent 25 years in Victoria, BC. He had a
                    career as a bartender and was a small business owner. Jacq is from Victoria, BC, and worked as a
                    high school teacher and waitress. In 2011, after Rob was diagnosed with Multiple Sclerosis and was
                    told he would be in a wheelchair within 3 years, they left Canada. They have always helped animals
                    during their travels. They spent 3 years in Thailand and traveled before settling in Port Barton,
                    Palawan, Philippines in 2015. They came to the Philippines for their honeymoon and decided to stay.
                    For the first 5 years, they helped dogs by providing food, treating injured dogs with mange, and
                    organizing 4 free sterilization events for the community each year. For them, it was a way to give
                    back to the community in their own way. The turning point came with Covid, when they saw the
                    condition of all the dogs after the lockdown. Over 40 dogs they knew were gone and most of the dogs
                    were starving, including owned and abandoned dogs.
                </p>
                <p>Our mission is to rescue and provide a sanctuary for dogs and cats who have been abandoned or are
                    living on the streets. We are dedicated to providing food, shelter, medical care, and sterilization
                    services to ensure these animals receive the care they deserve. Our ultimate goal is to find loving
                    homes for these animals so that they can live happy and fulfilling lives. We strive to educate the
                    local community about responsible pet ownership and the importance of animal welfare. Our commitment
                    to rescuing and rehabilitating animals in need is unwavering, and we believe that every animal
                    deserves a chance at a better life. <br><br>
                    We believe that in the next decade, we will be able to
                    make a serious impact on animal welfare for dogs and cats throughout Palawan with multiple
                    sanctuaries
                    throughout the island and an aggressive action plan for sterilizations to lower the dog and cat
                    population to a manageable level. We have a solid blueprint and are developing the team to make this
                    a reality that will save thousands of dogs' and cats' lives and give them the life that they
                    deserve.</p>
            </div>
            <button class="s-hero-text__btn btn btn-border btn-border--red">Read more
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                    <path d="M1.86732 12.5007L0.583984 11.2173L9.38398 2.41732H1.50065V0.583984H12.5007V11.584H10.6673V3.70065L1.86732 12.5007Z"
                          fill="white"/>
                </svg>
            </button>

        </div>
    </div>
</section>
