<section class="s-hero-text-single">
    <div class="s-hero-text-single__container">
        <div class="s-hero-text-single__head">
            <h1 class="s-hero-text-single__title el-title">We have global goals to change <br> the world for the better
            </h1>
            <p class="s-hero-text-single__desc">
                We would like to introduce you to our dog shelter, a non-profit
                organization that is dedicated to rescuing and providing a sanctuary for abandoned and stray dogs.
                As an animal-loving company, we believe that you share our passion for animal welfare, and we would
                like to invite you to join us in making a positive impact in the lives of our furry friends.</p>
        </div>
        <div class="s-hero-text-single__content">
            <img src="images/ss.jpg" alt="">
            <h3>Dear Prospective Corporate <br> Sponsor</h3>

            <div class="s-hero-text-single__text el-wysiwyg">
                <div>
                    <p>Our shelter is entirely funded by donations from individuals and organizations like yours. With
                        your support, we can continue to provide food, shelter, and medical care for our dogs, as well
                        as sterilization services to ensure they receive the care they need and deserve.</p>
                </div>
                <div>
                    <p>We offer a range of benefits, including branding opportunities, media exposure, and employee
                        engagement events. We believe that corporate sponsorship is a mutually beneficial partnership,
                        where your company can make a positive impact on our community and our dogs, while also gaining
                        valuable exposure and enhancing your reputation as a socially responsible company.</p>
                </div>
            </div>
        </div>
        <h3 class="s-hero-text-single__label el-subtitle">Our traveled path</h3>
    </div>
</section>
