<section class="s-image-text">
   <div class="s-image-text__container">
      <div class="s-image-text__text">
         <h3 class="s-image-text__title el-subtitle">Our team saves lives</h3>
         <p class="s-image-text__desc el-hide-m">Our mission is to rescue and provide a sanctuary for dogs and cats who have been abandoned or are living on the streets. We are dedicated to providing food, shelter, medical care, and sterilization services to ensure these animals receive the care they deserve. Our ultimate goal is to find loving homes for these animals so that they can live happy and fulfilling lives. We strive to educate the local com</p>
      </div>
      <img class="s-image-text__img" src="images/peoplejpg.jpg" alt="">
      <p class="s-image-text__desc el-hide-d">Our mission is to rescue and provide a sanctuary for dogs and cats who have been abandoned or are living on the streets. We are dedicated to providing food, shelter, medical care, and sterilization services to ensure these animals receive the care they deserve. Our ultimate goal is to find loving homes for these animals so that they can live happy and fulfilling lives. We strive to educate the local com</p>
   </div>
</section>