<section class="s-info-video">
    <div class="s-info-video__container">
        <div class="s-info-video__head">
            <h3 class="s-info-video__title el-subtitle">sanctuary for stray dogs</h3>
            <p class="s-info-video__desc">BezPlanu told about us on his YouTube channel. Watch a video instead of 1000
                words</p>
        </div>
        <div class="s-info-video__video">
            <iframe class="s-info-video__media" src="https://www.youtube.com/embed/CmKQLw3OwyA"
                    frameborder="0"
                    allowfullscreen>
            </iframe>
        </div>
    </div>
</section>