{% if not info %}
    {% set info = {
        subtitle: 'our mission',
        text: '<p>Similar to Lamoda, only better! In search of branded stuff, users have to use different sources, such as instagram, google, ebay, etc. For the Belarusian (or some other) territory there is no such service where one could easily purchase a favorite brand. Also, there is no trust in some of the Instagram shoppers.</p>'
    } %}
{% endif %}

<article class="s-info">
    <div class="s-info__container">
        <h3 class="el-subtitle">our mission</h3>
        <div class="el-wysiwyg">
            <p>
                Our mission is to rescue and provide a sanctuary for dogs and cats who have been abandoned or are living
                on the streets. We are dedicated to providing food, shelter, medical care, and sterilization services to
                ensure these animals receive the care they deserve.
            </p>
        </div>
        <img class="s-info__image" src="../../images/info.jpg" alt="">
        <h4 class="el-title s-info__label">Our ultimate goal is to find loving homes for these animals so that they can live happy and fulfilling lives.</h4>
    </div>
</article>
