<section class="s-our">
    <div class="s-our__container">
        <h3 class="s-our__title el-title">Our plans</h3>
        <p class="s-our__desc">Our shelter for dogs has global plans for the coming years aimed at improving <br>
            the lives
            of homeless animals.</p>
        <div class="s-our__tabs">
            <ul class="s-our__tabs-list">
                <li data-tab-target="#item-1" class="s-our__tabs-item active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="8" viewBox="0 0 24 8" fill="none">
                        <path d="M17.728 7.8C18.048 7.11733 18.3573 6.52 18.656 6.008C18.976 5.496 19.2853 5.06933 19.584 4.728H0.928V3.384H19.584C19.2853 3.02133 18.976 2.584 18.656 2.072C18.3573 1.56 18.048 0.973332 17.728 0.311999H18.848C20.192 1.86933 21.6 3.02133 23.072 3.768V4.344C21.6 5.06933 20.192 6.22133 18.848 7.8H17.728Z"
                              fill="#DC2D2A"/>
                    </svg>
                    The farmland project
                </li>
                <li data-tab-target="#item-2" class="s-our__tabs-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="8" viewBox="0 0 24 8" fill="none">
                        <path d="M17.728 7.8C18.048 7.11733 18.3573 6.52 18.656 6.008C18.976 5.496 19.2853 5.06933 19.584 4.728H0.928V3.384H19.584C19.2853 3.02133 18.976 2.584 18.656 2.072C18.3573 1.56 18.048 0.973332 17.728 0.311999H18.848C20.192 1.86933 21.6 3.02133 23.072 3.768V4.344C21.6 5.06933 20.192 6.22133 18.848 7.8H17.728Z"
                              fill="#DC2D2A"/>
                    </svg>
                    new cat sanctuary
                </li>
                <li data-tab-target="#item-3" class="s-our__tabs-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="8" viewBox="0 0 24 8" fill="none">
                        <path d="M17.728 7.8C18.048 7.11733 18.3573 6.52 18.656 6.008C18.976 5.496 19.2853 5.06933 19.584 4.728H0.928V3.384H19.584C19.2853 3.02133 18.976 2.584 18.656 2.072C18.3573 1.56 18.048 0.973332 17.728 0.311999H18.848C20.192 1.86933 21.6 3.02133 23.072 3.768V4.344C21.6 5.06933 20.192 6.22133 18.848 7.8H17.728Z"
                              fill="#DC2D2A"/>
                    </svg>
                    Mobile vet for sterilizations
                </li>
                <li data-tab-target="#item-4" class="s-our__tabs-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="8" viewBox="0 0 24 8" fill="none">
                        <path d="M17.728 7.8C18.048 7.11733 18.3573 6.52 18.656 6.008C18.976 5.496 19.2853 5.06933 19.584 4.728H0.928V3.384H19.584C19.2853 3.02133 18.976 2.584 18.656 2.072C18.3573 1.56 18.048 0.973332 17.728 0.311999H18.848C20.192 1.86933 21.6 3.02133 23.072 3.768V4.344C21.6 5.06933 20.192 6.22133 18.848 7.8H17.728Z"
                              fill="#DC2D2A"/>
                    </svg>
                    Volunteer housing
                </li>
            </ul>
            <div class="s-our__tabs-contents">
                <div class="s-our__tabs-content active" id="item-1">
                    <img src="images/tab.jpg" alt="">
                    <p> The farmland project is an initiative to create a sustainable farm to grow food for the dogs and
                        cats we rescue. The intention is to lower costs so we can feed more animals.
                        We are looking at farming fresh water fish, ducks (for eggs) and vegetables. The land is
                        20,000sqm
                        and potentially will be the 2nd sanctuary for Street Dog Sanctuary.
                        The land has access to electricity and water. It is located 40 minutes from Street Dog
                        Sanctuary.</p>
                </div>
                <div class="s-our__tabs-content" id="item-2">
                    <img src="images/tab.jpg" alt="">
                    <p>About content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laboriosam beatae quia voluptate,</p>
                </div>
                <div class="s-our__tabs-content" id="item-3">
                    <img src="images/tab.jpg" alt="">
                    <p>About content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laboriosam beatae quia voluptate,
                        About content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laboriosam beatae quia voluptate,
                        About content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laboriosam beatae quia voluptate,</p>
                </div>
                <div class="s-our__tabs-content" id="item-4">
                    <img src="images/tab.jpg" alt="">
                    <p>About content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laboriosam beatae quia voluptate,
                        About content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laboriosam beatae quia voluptate,</p>
                </div>
            </div>
        </div>
        <div class="s-our__accordion el-hide-d">
            <button class="s-our__accordion-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="8" viewBox="0 0 24 8" fill="none">
                    <path d="M17.728 7.8C18.048 7.11733 18.3573 6.52 18.656 6.008C18.976 5.496 19.2853 5.06933 19.584 4.728H0.928V3.384H19.584C19.2853 3.02133 18.976 2.584 18.656 2.072C18.3573 1.56 18.048 0.973332 17.728 0.311999H18.848C20.192 1.86933 21.6 3.02133 23.072 3.768V4.344C21.6 5.06933 20.192 6.22133 18.848 7.8H17.728Z"
                          fill="#DC2D2A"/>
                </svg>
                The farmland project
            </button>
            <div class="s-our__accordion-content">
                <img src="images/tab.jpg" alt="">
                <p> The farmland project is an initiative to create a sustainable farm to grow food for the dogs and
                    cats we rescue. The intention is to lower costs so we can feed more animals.
                    We are looking at farming fresh water fish, ducks (for eggs) and vegetables. The land is 20,000sqm
                    and potentially will be the 2nd sanctuary for Street Dog Sanctuary.
                    The land has access to electricity and water. It is located 40 minutes from Street Dog
                    Sanctuary.</p>
            </div>

            <button class="s-our__accordion-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="8" viewBox="0 0 24 8" fill="none">
                    <path d="M17.728 7.8C18.048 7.11733 18.3573 6.52 18.656 6.008C18.976 5.496 19.2853 5.06933 19.584 4.728H0.928V3.384H19.584C19.2853 3.02133 18.976 2.584 18.656 2.072C18.3573 1.56 18.048 0.973332 17.728 0.311999H18.848C20.192 1.86933 21.6 3.02133 23.072 3.768V4.344C21.6 5.06933 20.192 6.22133 18.848 7.8H17.728Z"
                          fill="#DC2D2A"/>
                </svg>
                new cat sanctuary
            </button>
            <div class="s-our__accordion-content">
                <img src="images/tab.jpg" alt="">
                <p> The farmland project is an initiative to create a sustainable farm to grow food for the dogs and
                    cats we rescue. The intention is to lower costs so we can feed more animals.
                    We are looking at farming fresh water fish, ducks (for eggs) and vegetables. The land is
                </p>
            </div>

            <button class="s-our__accordion-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="8" viewBox="0 0 24 8" fill="none">
                    <path d="M17.728 7.8C18.048 7.11733 18.3573 6.52 18.656 6.008C18.976 5.496 19.2853 5.06933 19.584 4.728H0.928V3.384H19.584C19.2853 3.02133 18.976 2.584 18.656 2.072C18.3573 1.56 18.048 0.973332 17.728 0.311999H18.848C20.192 1.86933 21.6 3.02133 23.072 3.768V4.344C21.6 5.06933 20.192 6.22133 18.848 7.8H17.728Z"
                          fill="#DC2D2A"/>
                </svg>
                Mobile vet for sterilizations
            </button>
            <div class="s-our__accordion-content">
                <img src="images/tab.jpg" alt="">
                <p> The farmland project is an initiative to create a sustainable farm to grow food for the dogs and
                    cats we rescue.</p>
            </div>
            <button class="s-our__accordion-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="8" viewBox="0 0 24 8" fill="none">
                    <path d="M17.728 7.8C18.048 7.11733 18.3573 6.52 18.656 6.008C18.976 5.496 19.2853 5.06933 19.584 4.728H0.928V3.384H19.584C19.2853 3.02133 18.976 2.584 18.656 2.072C18.3573 1.56 18.048 0.973332 17.728 0.311999H18.848C20.192 1.86933 21.6 3.02133 23.072 3.768V4.344C21.6 5.06933 20.192 6.22133 18.848 7.8H17.728Z"
                          fill="#DC2D2A"/>
                </svg>
                Volunteer housing
            </button>
            <div class="s-our__accordion-content">
                <img src="images/tab.jpg" alt="">
                <p> The farmland project is an initiative to create a sustainable farm to grow food for the dogs and
                    cats we rescue. The intention is to lower costs so we can feed more animals.
                    We are looking at farming fresh water fish, ducks (for eggs) and vegetables. The land is
                    20,000sqm
                    and potentially will be the 2nd sanctuary for Street Dog Sanctuary.
                    The land has access to electricity and water. It is located 40 minutes from Street Dog
                    Sanctuary.</p>
            </div>
        </div>
    </div>
</section>