<section class="s-prompt-text">
    <ul class="s-prompt-text__list">
        <li class="s-prompt-text__item">
            <h4 class="s-prompt-text__title el-subtitle">2,500+</h4>
            <p class="s-prompt-text__desc">sterilizations in the last 6 years</p>
        </li>
        <li class="s-prompt-text__item">
            <h4 class="s-prompt-text__title el-subtitle">1,000</h4>
            <p class="s-prompt-text__desc">of anti rabies vaccines</p>
        </li>
        <li class="s-prompt-text__item">
            <h4 class="s-prompt-text__title el-subtitle">4,000+</h4>
            <p class="s-prompt-text__desc">mange treatments</p>
        </li>
        <li class="s-prompt-text__item">
            <h4 class="s-prompt-text__title el-subtitle">200,000+</h4>
            <p class="s-prompt-text__desc">meals provided for sanctuary and Street animals</p>
        </li>
    </ul>
</section>