<section class="s-prompt">
    <div class="s-prompt__item">
        <div class="s-prompt__item-wrap">
            <img src="../../images/dog1.jpg" alt="">
            <div class="s-prompt__content">
                <p class="s-prompt__label">Ready to find your new BFF?</p>
                <h3 class="s-prompt__title el-subtitle">Adopt</h3>
                <a href="#" class="s-prompt__link btn btn-border">see our available dogs
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                        <path d="M1.86732 12.5007L0.583984 11.2173L9.38398 2.41732H1.50065V0.583984H12.5007V11.584H10.6673V3.70065L1.86732 12.5007Z"
                              fill="white"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="s-prompt__hover"></div>
    </div>
    <div class="s-prompt__item">
        <div class="s-prompt__item-wrap">
            <img src="../../images/dog2.jpg" alt="">
            <div class="s-prompt__content">
                <p class="s-prompt__label">Make a direct impact</p>
                <h3 class="s-prompt__title el-subtitle">Donate</h3>
                <a href="#" class="s-prompt__link btn btn-border">Make a donation
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                        <path d="M1.86732 12.5007L0.583984 11.2173L9.38398 2.41732H1.50065V0.583984H12.5007V11.584H10.6673V3.70065L1.86732 12.5007Z"
                              fill="white"/>
                    </svg>
                </a>
            </div>

        </div>
        <div class="s-prompt__hover"></div>
    </div>
    <div class="s-prompt__item">
        <div class="s-prompt__item-wrap">
            <img src="../../images/dog3.jpg" alt="">
            <div class="s-prompt__content">
                <p class="s-prompt__label">Joint good deed</p>
                <h3 class="s-prompt__title el-subtitle">Help</h3>
                <a href="#" class="s-prompt__link btn btn-border">Help the shelter
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                        <path d="M1.86732 12.5007L0.583984 11.2173L9.38398 2.41732H1.50065V0.583984H12.5007V11.584H10.6673V3.70065L1.86732 12.5007Z"
                              fill="white"/>
                    </svg>
                </a>
            </div>

        </div>
        <div class="s-prompt__hover"></div>
    </div>
</section>