<section class="s-slider">
    <div class="s-slider__wrapper">

        <h3 class="s-slider__title el-title">Photo gallery of our family</h3>
        <div class="s-slider__text el-wysiwyg">
            <p>We are proud of our large and friendly family, consisting of beautiful dogs that have found their home in
                our sanctuary. In this photo gallery, we are happy to share with you our photos with our pets that live
                with us.</p>
        </div>
        <div class="s-slider__pagination">
            <div class="swiper-button-prev">
                <svg width="46" height="36" viewBox="0 0 46 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5"
                          d="M41.0303 17.4697C41.3232 17.7626 41.3232 18.2374 41.0303 18.5303L36.2574 23.3033C35.9645 23.5962 35.4896 23.5962 35.1967 23.3033C34.9038 23.0104 34.9038 22.5355 35.1967 22.2426L39.4393 18L35.1967 13.7574C34.9038 13.4645 34.9038 12.9896 35.1967 12.6967C35.4896 12.4038 35.9645 12.4038 36.2574 12.6967L41.0303 17.4697ZM5.5 17.25L40.5 17.25V18.75L5.5 18.75V17.25Z"
                          fill="white"/>
                </svg>

            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next">
                <svg width="46" height="36" viewBox="0 0 46 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5"
                          d="M41.0303 17.4697C41.3232 17.7626 41.3232 18.2374 41.0303 18.5303L36.2574 23.3033C35.9645 23.5962 35.4896 23.5962 35.1967 23.3033C34.9038 23.0104 34.9038 22.5355 35.1967 22.2426L39.4393 18L35.1967 13.7574C34.9038 13.4645 34.9038 12.9896 35.1967 12.6967C35.4896 12.4038 35.9645 12.4038 36.2574 12.6967L41.0303 17.4697ZM5.5 17.25L40.5 17.25V18.75L5.5 18.75V17.25Z"
                          fill="white"/>
                </svg>
            </div>
        </div>
        <div class="s-slider__container">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="images/slide1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="images/slide2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="images/slide3.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="images/slide4.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="images/slide5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="images/slide5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="images/slide5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="images/slide5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="images/slide5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="images/slide5.jpg" alt=""></div>
                </div>

            </div>
        </div>
    </div>
</section>