<section class="s-story">
    <div class="s-story__container">
        <div class="s-story__links">
            <a href="#" class="s-story__links-item active">Adopt Dog</a>
            <a href="#" class="s-story__links-item">Happiness Stories</a>
        </div>
        <div class="s-story__about">
            <h3 class="s-story__about-title el-title">
                How sanctuary Dogs Found Loving Homes
            </h3>

            <div class="s-story__about-text el-wysiwyg">
                <p>On this page, we have collected real stories about how dogs from our shelter found their caring and
                    loving owners. Each story is a unique path of a pet to happiness and a long life in a loving
                    family.</p>
            </div>
            {#         add conditions   #}
            {#            <a href="#" class="s-story__about-link btn btn-border btn-border--red">See more stories #}
            {#                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none"> #}
            {#                    <path d="M1.86732 12.5007L0.583984 11.2173L9.38398 2.41732H1.50065V0.583984H12.5007V11.584H10.6673V3.70065L1.86732 12.5007Z" #}
            {#                          fill="white"/> #}
            {#                </svg> #}
            {#            </a> #}
        </div>
        <ul class="s-story__list">
            <li class="s-story__item s-story__item--auto">
                <a href="#">
                    <img class="s-story__img" src="../../images/story1.jpg" alt="">
                    <h3 class="s-story__title el-subtitle">Charlie</h3>
                    {#           add conditions #}
                    <div class="s-story__date">May 6, 2023</div>
                    {#           add conditions #}
                    <div class="s-story__link">
                        More details
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                            <path d="M1.86732 12.5007L0.583984 11.2173L9.38398 2.41732H1.50065V0.583984H12.5007V11.584H10.6673V3.70065L1.86732 12.5007Z"
                                  fill="white"/>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="s-story__item">
                <a href="#">
                    <img class="s-story__img" src="../../images/story2.jpg" alt="">
                    <h3 class="s-story__title el-subtitle">Jasper</h3>
                    <div class="s-story__link">
                        Look story
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                            <path d="M1.86732 12.5007L0.583984 11.2173L9.38398 2.41732H1.50065V0.583984H12.5007V11.584H10.6673V3.70065L1.86732 12.5007Z"
                                  fill="white"/>
                        </svg>
                    </div>
                </a>

            </li>
            <li class="s-story__item">
                <a href="#">
                    <img class="s-story__img" src="../../images/story3.jpg" alt="">
                    <h3 class="s-story__title el-subtitle">Charlie</h3>
                    <div class="s-story__link">
                        Look story
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                            <path d="M1.86732 12.5007L0.583984 11.2173L9.38398 2.41732H1.50065V0.583984H12.5007V11.584H10.6673V3.70065L1.86732 12.5007Z"
                                  fill="white"/>
                        </svg>
                    </div>
                </a>

            </li>
            <li class="s-story__item">
                <a href="#">
                    <img class="s-story__img" src="../../images/story4.jpg" alt="">
                    <h3 class="s-story__title el-subtitle">Jasper</h3>
                    <div class="s-story__link">
                        Look story
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                            <path d="M1.86732 12.5007L0.583984 11.2173L9.38398 2.41732H1.50065V0.583984H12.5007V11.584H10.6673V3.70065L1.86732 12.5007Z"
                                  fill="white"/>
                        </svg>
                    </div>
                </a>

            </li>
            <li class="s-story__item">
                <a href="#">
                    <img class="s-story__img" src="../../images/story3.jpg" alt="">
                    <h3 class="s-story__title el-subtitle">Jasper</h3>
                    <div class="s-story__link">
                        Look story
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                            <path d="M1.86732 12.5007L0.583984 11.2173L9.38398 2.41732H1.50065V0.583984H12.5007V11.584H10.6673V3.70065L1.86732 12.5007Z"
                                  fill="white"/>
                        </svg>
                    </div>
                </a>

            </li>
        </ul>
    </div>
</section>