<section class="s-text">
    <div class="s-text__container">
        <div class="s-text__content el-wysiwyg">
            <h1>Privacy Policy</h1>
            <span>Updated April 27, 2023</span>
            <p>Not only does American Humane (“American Humane”) care about the welfare of animals, we care about your
                privacy. This Privacy Policy explains how we gather, collect, use, share and protect your personal
                information across all of our websites and mobile applications, including but not limited to
                www.americanhumane.org, <a href="#">www.humaneheartland.org</a>, <a
                        href="#">www.humaneconservation.org</a>,
                <a href="#">www.humanehollywood.org</a> and
                <a href="#">www.herodogawards.com</a> (the “Websites”). That way, you can make informed choices about
                the way American
                Humane processes and uses your personal information. In addition, this Privacy Policy explains how you
                can opt out of receiving communications from our affiliates and from us, regardless of where we obtained
                your information.
                In order to fully understand your rights we encourage you to read this Privacy Policy. American Humane
                reserves the right at any time and without notice to change this Privacy Policy simply by posting such
                changes on our Websites. All changes will be effective immediately upon posting.
                By visiting our Websites you agree that no information you submit to the Websites shall contain libelous
                or otherwise unlawful, abusive or obscene material. You are solely responsible for the content of any
                information you provide to American Humane.</p>
            <h2>WHAT INFORMATION WE COLLECT</h2>
            <p>When you visit our Websites, request additional information about American Humane, make a donation or
                participate in any other program or service of American Humane (including through our Websites, direct
                mail, telephone, mobile or text message), American Humane and our third-party service providers may
                collect Personal Information that you provide. Personal Information is information that identifies you
                as an individual or that relates to an identifiable individual person, and includes your name, mailing
                address, e-mail address, user name and password, telephone number, birthday or birth year, format
                preference (e.g., HTML vs. Text), interests, payment information (including credit card and bank
                information) or similar information.</p>
            <p>In addition, when you use our Websites, we collect information that is sent to us automatically by your
                web browser. This information includes but is not limited to IP addresses, web browser information,
                information about your device, content visited while on our Websites, pages you visit before and after
                using our Websites, and when you visited the Websites.</p>
            <h2>HOW WE COLLECT INFORMATION</h2>
            <p>American Humane and our service providers collect Personal Information in a number of ways:</p>
            <h3>Information Provided Directly by You</h3>
            <p>American Humane collects Personal Information that you provide to us by e-mail or while using the
                Websites, including information you provide when you fill out forms, request information or newsletters,
                make a donation, complete a survey or other similar activities.</p>
        </div>
    </div>
</section>