<div class="s-breadcrumbs">
    <div class="s-breadcrumbs__container">
        <ul class="s-breadcrumbs__list">
            <li class="s-breadcrumbs__item"><a href="#">Home</a></li>
            /
            <li class="s-breadcrumbs__item active"><a>About</a></li>
        </ul>
    </div>
</div>