$grid-breakpoints: (
        xs: 0,
        xsm: 320px,
        sm: 480px,
        md: 768px,
        mdx: 992px,
        lg: 1025px,
        lgl: 1084px,
        lgx: 1192px,
        xl: 1200px,
        xxl: 1400px
) !default;
