
// Colors
$c-white: #ffffff;
$c-black: #000000;
$c-lightBlack: #050507;
$c-text-black: #26262C;
$c-text-bright: #F3F3F8;
$c-light-black: #19191C;
$c-border: #636373;
$c-white-diff: #131314;
$c-grey: #F4F4F6;

$c-brand: #DC2D2A;
$c-brand-bright: #AD54D3;
$c-brand-bright-2: #D34BDE;
$c-brand-text: #8632AB;

$c-accent: #304e91;
$c-accent-fade: #73BFE4;

$c-text: #4b4b4b;
$c-text-dark:#282345;
$c-text-back: #7C638C;
$c-text-grey: #6d6d6d;

$c-main-bg: #ffffff;
$c-shadow: #38578C;
$c-hover: #f3f1f4;
$c-inactive: #DFE2E5;

$c-error: red;
$c-focus: orange;

$c-gradient-1: #8438A0;
$c-gradient-2: #3B3981;
$c-gradient-3: #181D48;
$c-gradient-4: #6B207D;
