// Sizes

$s-content-padding: (
  xs: 20px,
  md: 20px
);

$s-header-height: 90px;
$s-header-height-mobile: 80px;

$s-small-width: 663px;
$s-inner-width: 1660px;
$s-inner-width-md: 700px;

$s-content: $s-inner-width + 2 * map_get($s-content-padding, md);
$s-content-md: $s-inner-width-md + 2 * map_get($s-content-padding, md);


// used for helper classes
$sizes: () !default;
$sizes: map-merge((
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
), $sizes);

$spacer: 15px !default;
$spacers: () !default;
$spacers: map-merge((
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 2),
        6: ($spacer * 3),
        7: ($spacer * 4)
), $spacers);

