.s-our {
  padding-top: px-to-rem(80);
  padding-bottom: px-to-rem(110);
  transition: .3s;

  &__container {
    @extend .container
  }


  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: px-to-rem(36);
    line-height: 110%;
    text-transform: uppercase;
    color: $c-lightBlack;
  }

  &__desc {
    font-style: normal;
    font-weight: 400;
    font-size: px-to-rem(18);
    line-height: 150%;
    color: $c-text-black;
  }

  &__tabs {
    margin-top: px-to-rem(50);
    display: none;
    justify-content: space-between;

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: px-to-rem(60);
    }

    &-item {
      padding-bottom: px-to-rem(25);
      padding-top: px-to-rem(25);
      border-bottom: 1px solid #D7D7D7;
      cursor: pointer;
      width: 100%;
      font-style: normal;
      font-weight: 600;
      font-size: px-to-rem(32);
      line-height: 130%;
      text-transform: uppercase;
      color: $c-lightBlack;
      display: flex;
      align-items: center;

      svg {
        display: none;
        margin-right: px-to-rem(20);
      }

      &.active {
        color: $c-brand;

        svg {
          display: block;
        }
      }


    }

    &-list {
      max-width: px-to-rem(800);
      width: 100%;
    }

    &-contents {
      max-width: px-to-rem(800);
      width: 100%;
      min-height: px-to-rem(430);
    }

    &-content {
      display: none;
      line-height: 1.5;

      &.active {
        display: block;

      }
    }
  }

  &__accordion {
    margin-top: px-to-rem(25);

    &-item {
      width: 100%;
      outline: none;
      text-align: left;
      cursor: pointer;
      font-style: normal;
      font-weight: 600;
      padding: px-to-rem(25) 0;
      font-size: px-to-rem(24);
      line-height: 130%;
      text-transform: uppercase;
      color: $c-lightBlack;
      border-bottom: 1px solid #D7D7D7;
      display: flex;
      align-items: center;
      gap: 20px;

      svg {
        display: none;
      }

      &.is-open {
        border-bottom: none;
        color: $c-brand;

        svg {
          display: block;
        }
      }

      &:first-child {
        border-top: 1px solid #D7D7D7;
      }
    }

    &-content {
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-in-out;

      img {
        margin-bottom: px-to-rem(20);
      }
    }

  }

  @include media-breakpoint-up(lgl) {
    &__tabs {
      display: flex;
    }
  }
}